#container {

   background-repeat:no-repeat;
   background-size:contain;
   background-position:center;
}

.picture {
   width:100%;
   height:100%;
   background-image:url('../images/anarres_map.jpg');
}
